* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}

header {
    background-color: #1f2937;
    color: #f9faf8;
}

#nav {

    padding:20px;
    margin: 20px;
    display: flex;
}

.logo {
    margin-left: 15%;
    margin-right: auto;
}

.links {
    display: flex;
    justify-content: flex-end;
    margin-right: 15%;
}

.link-item{
    margin-left:50px;
}

.hero {
    padding:50px;
    margin: 10px;
    display: flex;
    flex-grow: 1;
}

#hero-main {
    display: flex;
    flex-direction: column;
    padding-left: 15%;
    padding-right: 20%;
    width: 250px;
    gap: 5px;
    line-height: 1.5;
}

#hero-text {
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    
}

#hero-img {
    width: 500px;
    background-color: #f9faf8;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center ;
    
}

.temp {

}

.hero-button {
    margin-right: auto;
    background-color: #3882f6;
    border: 1px solid #1f2937;
    border-radius: 5px;
    padding: 0px 20px;
    color: #fff;
    font-size: 15px;
    line-height: 2;
    width: 100px;
    text-align: center;
}





